$lt_green: rgb(176, 204, 156);
$drk_green: rgb(61, 116, 84);
$dark_gray: rgb(70, 70, 70);
$red: rgb(192, 72, 63);
$font: 'Work Sans', sans-serif;

@media (min-width: 600px) and (max-width: 999px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
}

.button_container {
  width: 90%;
  min-width: 300px;
  margin: 0 auto;
  box-sizing: border-box;

  #auth_button, #site_home_button {
    max-width: 300px;
    display: block;
    padding: 20px 0;
    margin: 25px auto 0 auto;
    border: 3px solid $drk_green;
    border-radius: 4px;
    background: #fff;
    font-family: $font;
    font-size: 1.5em;
    text-align: center;
    color: $drk_green;
    text-transform: lowercase;
    transition: all .2s;
    outline: none;
    a {
      color: $drk_green;
      text-decoration: none;
    }
    &:hover, &:focus {
      color: #fff;
      background: $drk_green;
      box-shadow: 0 1px 3px $dark_gray;
      transition: all .4s;
    }
    &:active {
      box-shadow: none;
      transition: box-shadow .2s;
    }
    &:hover a {
      color: #fff;
    }
  }
}

/* Different color and formatting for login and go to site buttons.*/
.button_container {
  #auth_button {
    border-color: $drk_green;
    margin-bottom: 0;
    width: 100%;
    &:hover {
      border-color: $lt_green;
      background: $lt_green;
    }
  }
  #site_home_button {
    width: 100%;
  }
}

@media(min-width: 700px) {
  .button_container {
    display: flex;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    #auth_button, #site_home_button {
      width: 45%;
      display: inline-block;
      justify-content: space-between;
    }
  }
}
