$lt_green: rgb(176, 204, 156);
$drk_green: rgb(61, 116, 84);
$dark_gray: rgb(20, 20, 20);
$dark_gray_alpha: rgba(20, 20, 20, .5);
$red: rgb(192, 72, 63);
$font: 'Work Sans', sans-serif;

html {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

body {
  //margin-collapse hack
  display: inline-block;
  width: 100%;
  height: 100%;
  //margin-collapse hack
  position: relative;
  // min-height: 149px;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: $font;
  box-sizing: border-box;
  background: $dark_gray;
}

// background image position on smaller screens
@media(max-width: 500px) {
  body {
    background-position: left;
  }
}

app-root {
  height: 100%;
}

app-admin {
  height: 100%;
}

.loader {
  position: absolute;
  display: block;
  top: 25vh;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 10em;
  color: $drk_green;
}

.error_message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  background: $red;
  padding: 15px 5px;
  p {
    margin: 5px 0 0 0;
    color: #fff;
    font-size: .8em;
    letter-spacing: .05em;
    text-align: center;
    a {
      color: #fff;
    }
  }
}

h1 {
  margin-bottom: 0;
  text-align: center;
  font-family: $font;
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .1em;
  color: $lt_green;
}

h2 {
  margin: 0;
  text-align: center;
  font-family: $font;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: .1em;
  color: $drk_green;
}

h3 {
  margin: 0;
  text-align: left;
  font-family: $font;
  text-transform: lowercase;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: .1em;
  color: $dark_gray;
}

p {
  letter-spacing: .05em;
  color: $dark_gray;
}

@media(max-width: 600px) {
  .error_message {
    padding-top: 12px;
  }
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: .8em;
  }
}

// error message
@media(max-width: 674px) {
  .error_message {
    height: 35px;
  }
  #logo {
    margin: 80px 0 0 0;
  }
}
@media(max-height: 500px) {
  .error_message {
    position: fixed;
    top: 0;
  }
}
