.greeting {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  top: 200px;
  left: -50px;
}

.name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  top: 200px;
  right: -50px;
}
