<img class="small_logo" src="/assets/cloth_rehab.png" alt="Cloth Rehab Logo" />

<button
  class="logout_button"
  (click)="auth.logout()">
    <i class="fa fa-hand-peace-o"> </i>
    &nbsp;Log Out
</button>

<div class="greeting_container">
  <h1 class="greeting">{{greetings[which]}}, </h1>
  <h1 class="name">{{names[whom]}}!</h1>
</div>

<h2 class="prompt">What Would You Like To Do?</h2>

<!-- Dropdown on Mobile -->
<div class="tasks mobile">

  <div id="inventory"
    (click)="toggleDropdown($event)"
    [@toggleState]="toggleState.inventory"
    [class.noHoverEffect]="toggleState.inventory === 'active'"
    class="task inventory_task featured_task">
      <h2>Update My Inventory</h2>
      <!-- Invert dropdown while active-->
      <i
        *ngIf="toggleState.inventory === 'inactive'"
        class="expand_button fa fa-sort-down">
      </i>
      <i id="inventory_toggle"
        *ngIf="toggleState.inventory === 'active'"
        class="expand_button fa fa-sort-up active">
      </i>

      <div
        *ngIf="toggleState.inventory === 'active'"
        class="options">
      </div>

      <form
        [class.form-display]="toggleState.inventory === 'active'"
        [class.form-hidden]="toggleState.inventory === 'inactive'"
        [@formDisplay]="toggleState.inventory">
        <a href="/admin/home" class="edit_delete">Edit or Delete an Item</a>
        <hr />
        <div class="form-group">
          <input type="file">
        </div>
        <input
         type="button" value="Submit">
        <!-- HTTP SERVICE -->
      </form>

  </div>

  <div id="portfolio"
    (click)="toggleDropdown($event)"
    [@toggleState]="toggleState.portfolio"
    [class.noHoverEffect]="toggleState.portfolio === 'active'"
    class="task portfolio_task non_featured">
      <h2>Update My Portfolio</h2>

      <!-- Invert dropdown while active-->
      <i
        *ngIf="toggleState.portfolio === 'inactive'"
        class="expand_button fa fa-sort-down">
      </i>
      <i id="portfolio_toggle"
        *ngIf="toggleState.portfolio === 'active'"
        class="expand_button fa fa-sort-up active">
      </i>

      <div
        *ngIf="toggleState.portfolio === 'active'"
        class="options">
      </div>
  </div>

  <div id="featured"
    (click)="toggleDropdown($event)"
    [class.noHoverEffect]="toggleState.featured === 'active'"
    [@toggleState]="toggleState.featured"
    class="task featured_task">
      <h2>Update Featured Project</h2>

      <!-- Invert dropdown while active-->
      <i
        (click)="showForm = !showForm"
        *ngIf="toggleState.featured === 'inactive'"
        class="expand_button fa fa-sort-down">
      </i>
      <i (click)="showForm = !showForm"
        id="featured_toggle"
        *ngIf="toggleState.featured === 'active'"
        class="expand_button fa fa-sort-up">
      </i>

      <!-- Featured Project Form -->
      <form
        [class.form-display]="toggleState.featured === 'active'"
        [class.form-hidden]="toggleState.featured === 'inactive'"
        [@formDisplay]="toggleState.featured">

          <div class="form_group">
            <div class="label_inline">
              <label for="project_name">Project Title</label>
            </div>
            <input
              ([ngModel])="featuredProject.title"
              type="text" placeholder="Your newest, or most special project" name="title"/>
          </div>

          <div class="side_by_side">
            <div class="form_group">
              <label for="project_photo_front">Front Photo</label>
              <input id="project_photo_front" type="file" name="front_photo" />
            </div>

            <div class="form_group right">
              <label for="project_photo_back">Back Photo</label>
              <input  id="project_photo_back" type="file" name="back_photo" />
            </div>
          </div>

          <div class="form_group">
            <div class="label_inline">
              <label for="project_description">Description</label>
            </div>
            <textarea
              ([ngModel])="featuredProject.description"
              id="project_description" placeholder="What makes this project so special?" name="description"></textarea>
          </div>

          <input (click)="toggleFeaturedPreview()"
            type="button" value="Preview Changes"
          />
      </form>
  </div>

  <div id="info"
    (click)="toggleDropdown($event)"
    [@toggleState]="toggleState.info"
    [class.noHoverEffect]="toggleState.info === 'active'"
    class="task about_task non_featured">
      <h2>Update Cloth Rehab Info</h2>

      <!-- Invert dropdown while active-->
      <i
        *ngIf="toggleState.info === 'inactive'"
        class="expand_button fa fa-sort-down">
      </i>
      <i id="info_toggle"
        *ngIf="toggleState.info === 'active'"
        class="expand_button fa fa-sort-up">
      </i>

  </div>
</div>

<app-preview-featured *ngIf="preview.showFeaturedPreview"></app-preview-featured>
