$lt_green: rgb(176, 204, 156);
$lt_green_alpha: rgba(176, 204, 156, .7);
$drk_green: rgb(61, 116, 84);
$drk_green_alpha: rgba(61, 116, 84, .7);
$dark_gray: rgb(70, 70, 70);
$red: rgb(192, 72, 63);
$red_alpha: rgba(192, 72, 63, .7);
$font: 'Work Sans', sans-serif;

.small_logo {
  width: 13%;
  max-width: 50px;
  position: absolute;
  left: 25px;
  top: 15px;
}

.logout_button {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 5px;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  background: transparent;
  font-family: $font;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: .05em;
  text-transform: uppercase;
  transition: color .3s;
  outline: none;
  &:hover, &:focus {
    color: $lt_green;
    transition: all .4s;
    cursor: pointer;
  }
}

.greeting_container {
  width: 100%;
  height: 100px;
  position: relative;
}

.greeting {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  top: 75px;
  color: #fff;
}

.name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  top: 75px;
  color: #fff;
}

.prompt {
  margin-top: 100px;
  color: $lt_green;
}

.tasks {
  max-width: 800px;
  margin: 25px auto 0 auto;
  overflow: auto;
  .task.noHoverEffect {
    &:hover {
      transform: scale(.97);
    }
  }
  .task {
    width: 100%;
    padding: 30px 0;
    background: $lt_green_alpha;
    margin: 5px auto;
    transform: scale(.97);
    transition: transform .3s;
    &:hover, &:focus {
      transform: scale(.98);
      transition: all .4s;
    }
    &:active {
      transform: scale(.97);
    }
    h2 {
      width: 90%;
      margin: 0 auto;
      text-align: left;
      color: #fff;
    }
    .expand_button {
      position: absolute;
      right: 25px;
      top: 25px;
      font-size: 1.4em;
      color: #fff;
      transition: all .3s;
      &:hover {
        transform: scale(1.2);
        transition: all .4s;
      }
    }
    .expand_button.active {
      top: 35px;
    }
    .form-display {
      display: block;
      transition: all .3s;
      transition-delay: .6s;
    }
    .form-hidden {
      display: none;
      transition: all .3s;
      transition-delay: .6s;
    }
    form {
      height: auto;
      width: 90%;
      margin: 0 auto;
      a {
        display: block;
        padding: 20px 40px;
        margin: 25px 0;
        background: $drk_green_alpha;
        border: none;
        color: #fff;
        font-family: $font;
        font-size: 1em;
        text-align: center;
        text-transform: lowercase;
        text-decoration: none;
        transition: all .2s;
        outline: none;
        &:hover {
          background: $lt_green_alpha;
          transform: scale(.99);
        }
      }
      .edit_delete {
        background: $red_alpha;
        &:hover {
          background: $red;
        }
      }
      .side_by_side {
        .form_group {
          width: 50%;
          float: left;
          input[type=file] {
            max-width:175px;
            margin: 10px 0 0 0;
            padding: 0;
            text-align: right;
            color: #fff;
            font-family: $font;
            &:hover {
              transform: scale(1);
            }
          }
        }
        .form_group.right {
          float: right;
          label {
            text-align: right;
          }
          input {
            display: inline;
            text-align: right;
            float: right;
          }
        }
      }
      .form_group {
        height: auto;
        width: 100%;
        margin: 0 auto;
        box-sizing: content-box;
        .label_inline {
          label {
            display: inline-block;
          }
        }
        label {
          display: block;
          margin-top: 50px;
          color: #fff;
          text-transform: lowercase;
          letter-spacing: .1em;
          font-size: .8em;
        }
        input[type=file] {
          color: #fff;
          font-family: $font;
        }
        input[type=text], textarea {
          margin-top: 10px;
          padding: 10px;
          height: 25px;
          width: calc(100% - 20px);
          border: none;
          outline: none;
          font-size: 1em;
          transform: scale(1);
          transition: all .2s;
          &:hover {
            transform: scale(.99);
            transition: all .3s;
          }
          &::placeholder {
            font-family: $font;
            color: $dark_gray;
            font-size: 1em;
          }
          &:hover::placeholder,
          &:active::placeholder,
          &:focus::placeholder {
            color: $drk_green;
            transition: color .3s;
          }
          &:active, &:focus {
            transition: all .3s;
            color: $drk_green;
          }
        }
        textarea {
          height: 100px;
          transition: all .2s;
          &:hover {
            transition: all .3s;
          }
          &:active, &:focus {
            transition: all .3s;
          }
        }
      }
      input[type=button] {
        display: block;
        width: 100%;
        padding: 20px 40px;
        margin: 25px 0 0 0;
        background: $drk_green_alpha;
        border: none;
        color: #fff;
        font-family: $font;
        font-size: 1em;
        text-align: center;
        text-transform: lowercase;
        transition: all .2s;
        outline: none;
        &:hover {
          background: $lt_green_alpha;
          transform: scale(.99);
        }
      }
    }
  }

  .featured_task {
    background: $drk_green_alpha;
    h2 {
      color: #fff;
    }
    .expand_button {
      color: #fff;
    }
  }
}

//greeting
@media(max-width: 950px) {
  .greeting {
    left: 0;
  }
  .name {
    right: 0;
  }
}
